# ignore databases since those are too large
*.db

# ignore .joblib files since they are generated
*.joblib

lab/data/

# ignore all Dash Cache since they are generated
lab/results/dash_cache/*
lab/assets/notebooks//.ipynb_checkpoints/
lab/results/debug.ipynb


!lab/data/.gitkeep
!lab/results/.gitkeep
!lab/docs/.gitkeep

venv/

# Ignore all zone identifier files with pushing from WSL2 on windows 
*:Zone.Identifier

# Ignore Mac folder meta data
.DS_Store
