# ignore databases since those are too large
*.db

# ignore .joblib files since they are generated
*.joblib

data/*

!database/.gitkeep
!results/.gitkeep

/venv/

# Ignore all zone identifier files with pushing from WSL2 on windows 
*:Zone.Identifier
