[submodule "personal-notebooks"]
	path = lab/personal-notebooks
	url = git@github.com:sdwalker62/personal-notebooks.git
[submodule "sigil_libs"]
	path = sigil_libs
	url = git@github.com:sdwalker62/sigil_libs.git
[submodule "lab/sigil_libs"]
	path = lab/sigil_libs
	url = git@github.com:sdwalker62/sigil_libs.git
[submodule "lab/sigil_models"]
	path = lab/sigil_models
	url = git@github.com:sdwalker62/sigil_models.git
[submodule "lab/sigil_notebooks"]
	path = lab/sigil_notebooks
	url = git@github.com:sdwalker62/sigil_notebooks.git
