html, body {height:100%}

div {
  display: inherit;
}

.color {
  display: inline-block;
}
.color2 {
  grid-area: tt;
  background-color: purple;
}
.color3 {
  grid-area: footer;
  background-color: blue;
}

.container {
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-areas: 
    "header tt";
  pointer-events: auto;
}